footer {
  background-color: #000000;
  color: white;
}

.conteiner-footer {
  max-width: 1200px;
  margin: auto;
  /* background-color: lightblue; */
  display: grid;
  grid-template-columns: 1fr 1fr;
 padding: 120px;
 padding-bottom: 120px;
 gap: 240px;
}
.conteiner-footer p{
  max-width: 35ch;
  /* background-color: lightpink; */
  font-size: 1.5rem;
  line-height: 2rem;
  color: #cccccc;

}

.contato{
  font-size: 2rem;
 line-height: 2.5rem;
 color: #ffffff;

}

span{
 color:  #8F8F8F;
 font-size: 1.125rem;
 line-height: 2rem;
}