.formacao {
  background-color: #141414;
}

.formacao-conteiner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: auto;
  gap: 100px;
  padding: 120px;
}
.lado-direito {
  display: grid;
  gap: 60px;
}

.formacao .subtitulo {
  color: #000000;
}

.formacao-texto {
  color: #a3a3a3;
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 40ch;
}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.faculdade-lista {
  flex: 1;
  display: block;
  padding: 20px;
  background-color: #000000;
  border-radius: 4px;
  padding: 10px 20px;
}

.faculdade-1 {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.faculdade-tipo {
  color: #a3a3a3;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.faculdade-curso {
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  margin-bottom: 20px;
  position: relative;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 3px;
  left: -34px;
}

.faculdade-instituicao {
  color: #a3a3a3;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.formacao-extra {
  display: grid;
  gap: 60px;
}

.curso {
  display: grid;
  gap: 20px;
}

.curso h3 {
  color: #8f8f8f;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 10px;
  position: relative;
}

.curso h3::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background: url(/img/cursos.svg);
  position: absolute;
  left: -35px;
  top: -3px;
}

.curso ul {
  display: grid;
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.25rem;
  gap: 20px;
}

.curso li {
  display: flex;
  justify-content: space-between;
}
.curso span {
  color: #8f8f8f;
}

.idioma {
  display: grid;
  gap: 20px;
}

.idioma h3 {
  position: relative;
  color: #8f8f8f;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 10px;
}

.idioma h3::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background: url(/img/idiomas.svg);
  position: absolute;
  left: -35px;
  top: -3px;
}

.idioma ul {
  display: grid;
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.25rem;
  gap: 20px;
}

.idioma span {
  color: #8f8f8f;
}
