header {
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

header a {
  padding: 10px 20px;
  font-size: 1.125rem;
  color: #141414;
  text-decoration: none;
  display: block;
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }

  header a {
    background-color: #f5f5f5;
    border-radius: 4px;
  }
}
